/********************  TAG SELECTORS  ********************/

body{
  background-color: #EAF6F6;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 4px;
  width: 3%;
}

h1{
  color:#66BFBF;
}

h3{
  color:#66BFBF;
}

h4{
  color:#66BFBF;
}

h1:hover{
  background-color: black;
}

h3:hover{
  background-color: black;
}

h4:hover{
  background-color: black;
}

/*  Class names can be same for different items but id has to be unique  */
/*  One tag or element can have multiple class names and based on those, we can give different properties to elements  */
/********************  CLASS SELECTORS  ********************/
/*
.Education{
  color:red;
}*/

.image{
  border-radius: 100%;
}

.image:hover{
  border-radius: 1%;
}

/********************  ID SELECTORS  ********************/
/*
#WorkEx{
  color:blue;
}
*/
